<% @lists.each do |list| %>
     <h1> <%= list.name %>  </h1>
     <p> <%= link_to "See the list", list_path(list) %> </p>
  <% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a new list
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What's the name of your movie list?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list] do |f| %>
            <%= f.input :name %>
            <%= f.submit "Create list", class: "btn btn-primary" %>
         <% end %>
      </div>
    </div>
  </div>
</div>
